// Layout
$spacing1: 1rem;
$spacing2: 2rem;
$spacing3: 0.5rem;
// Fonts
$em-size: 1rem;
$fontFamily1: 'Josefin Sans', 'Trebuchet MS', Helvetica, sans-serif;
$fontFamily2: Cardo, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
// Colours
$white: #ffffff;
$lightGrey: #d4d4d4;
$lightBrown: #c9a689;
$lightBlue: #c7f7ff;
$medBlue: #89c0c9;
$darkBrown: #7c593c;
$darkBlue: #3a5e63;
$darkGrey: #222222;